<template name="child_game_grid">
    <div class="board-container child-game-board-container full-center">
        
        <!-- row 0 -->
        <div>
            <div id="{{index}}0C" class="float-left child-game-element {{preview_xo_element 0}}">
                <div id="{{index}}0C-xoelm" class="child-game-element XO-container {{render_xo_element 0}}"></div>
            </div>
            <div class="float-left child-vertical-spacer transition-background {{active index}}"></div>

            <div id="{{index}}1C" class="float-left child-game-element {{preview_xo_element 1}}">
                <div id="{{index}}1C-xoelm" class="child-game-element XO-container {{render_xo_element 1}}"></div>
            </div>
            <div class="float-left child-vertical-spacer transition-background {{active index}}"></div>

            <div id="{{index}}2C" class="float-left child-game-element {{preview_xo_element 2}}">
                <div id="{{index}}2C-xoelm" class="child-game-element XO-container {{render_xo_element 2}}"></div>
            </div>

            <div class="clear"></div>
        </div>


        <div class="child-horizontal-spacer transition-background {{active index}}"></div>


        <!-- row 1 -->
        <div>
            <div id="{{index}}3C" class="float-left child-game-element {{preview_xo_element 3}}">
                <div id="{{index}}3C-xoelm" class="child-game-element XO-container {{render_xo_element 3}}"></div>
            </div>
            <div class="float-left child-vertical-spacer transition-background {{active index}}"></div>

            <div id="{{index}}4C" class="float-left child-game-element {{preview_xo_element 4}}">
                <div id="{{index}}4C-xoelm" class="child-game-element XO-container {{render_xo_element 4}}"></div>
            </div>
            <div class="float-left child-vertical-spacer transition-background {{active index}}"></div>

            <div id="{{index}}5C" class="float-left child-game-element {{preview_xo_element 5}}">
                <div id="{{index}}5C-xoelm" class="child-game-element XO-container {{render_xo_element 5}}"></div>
            </div>

            <div class="clear"></div>
        </div>


        <div class="child-horizontal-spacer transition-background {{active index}}"></div>


        <!-- row 2 -->
        <div>
            <div id="{{index}}6C" class="float-left child-game-element {{preview_xo_element 6}}">
                <div id="{{index}}6C-xoelm" class="child-game-element XO-container {{render_xo_element 6}}"></div>
            </div>
            <div class="float-left child-vertical-spacer transition-background {{active index}}"></div>

            <div id="{{index}}7C" class="float-left child-game-element {{preview_xo_element 7}}">
                <div id="{{index}}7C-xoelm" class="child-game-element XO-container {{render_xo_element 7}}"></div>
            </div>
            <div class="float-left child-vertical-spacer transition-background {{active index}}"></div>

            <div id="{{index}}8C" class="float-left child-game-element {{preview_xo_element 8}}">
                <div id="{{index}}8C-xoelm" class="child-game-element XO-container {{render_xo_element 8}}"></div>
            </div>

            <div class="clear"></div>
        </div>

        
    </div>
</template>