<template name="home_login_register">
    {{#if show_login_register_container}}
        <div id="landing-login-register-container">
            <input {{email_input_attributes}} />
            <input {{pwd_input_attributes}} />
            <div id="landing-login-register-submit">
                {{login_register_intent}}
            </div>
        </div>
    {{else}}
        <div id="landing-login-select" class="landing-login-register-submit">Login</div>
        <div id="landing-register-select" class="landing-login-register-submit">Register</div>
    {{/if}}
</template>