<template name="home_dashboard">
    <div id="landing-dashboard-container">
        <div id="landing-dashboard-header">
            <span>{{current_user}}</span>
            <div id="landing-dashboard-logout" class="float-right"></div>
            <div class="clear"></div>
        </div>
        <div id="landing-dashboard-user-games">
            {{#with user_games}}
                <div>lololol</div>
            {{/with}}
        </div>
        <div id="landing-dashboard-create-games">
            <div id="landing-new-public-game" class="landing-dashboard-create-game float-left">new public game</div>
            <div id="landing-dashboard-create-game-spacer" class="float-left"></div>
            <div id="landing-new-private-game" class="landing-dashboard-create-game floet-left">new private game</div>
        </div>
    </div>
</template>