html {
    overflow: hidden;
}

.full-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.float-left {
    float: left;
}

.full-opacity {
    opacity: 1 !important;
}

.board-container {
    margin: auto;
}

.parent-game-board-container {
    position: relative;
    width: 90vh;
    height: 90vh;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.child-game-board-container {
    width: 23vh;
    height: 23vh;
}

.parent-game-element {
    position: relative;
    width: 29vh;
    height: 29vh;
    margin: 0;
}

.XO-container {
    position: absolute;
    z-index: -10;
    opacity: 0;

    -webkit-transition: 2s;
    -webkit-transform-style: preserve-3d;
    

    -moz-transition: 2s;
    -moz-transform-style: preserve-3d;

    transition: 2s;
    transform-style: preserve-3d;
}

.child-game-element {
    width: 7vh;
    height: 7vh;
    margin: 0;
}

.parent-vertical-spacer {
    width: 6px;
    height: 29vh;
    background: rgb(220, 220, 220);
}

.parent-horizontal-spacer {
    width: 100%;
    height: 6px;
    background: rgb(220, 220, 220);
}

.child-vertical-spacer {
    width: 4px;
    height: 7vh;
    background: rgb(230, 230, 230);
}

.child-horizontal-spacer {
    width: 100%;
    height: 4px;
    background: rgb(230, 230, 230);
}

.XP {
    background: url("/images/svg/XP.svg");
    background-size: 25vh;
    background-position: center;
    background-repeat: no-repeat;
}

.OP {
    background: url("/images/svg/OP.svg");
    background-size: 25vh;
    background-position: center;
    background-repeat: no-repeat;
}

.XC {
    background: url("/images/svg/XC.svg");
    background-size: 5vh;
    background-position: center;
    background-repeat: no-repeat;
}

.OC {
    background: url("/images/svg/OC.svg");
    background-size: 5vh;
    background-position: center;
    background-repeat: no-repeat;
}

.clear {
    clear: both;
}

#content-root {
    width: 100vw;
    height: 100vh;
}

#left-sidebar {
    width: calc(80vw - 100vh);
    height: 100%;
}

#gameboard-master {
    position: relative;
    width: 90vh;
    height: 100%;
}

#sidebar-content-container {
    width: 65%;
    margin: auto;
    margin-top: 15%;
}

#logo-container {
    height: 50px;
    background: url("/images/svg/tic_tacs_and_altoids.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 5px solid #D1A644;
}

#help-container {
    position: absolute;
    bottom: 4vh;
    right: 50px;
    width: 50px;
    height: 100px;
    background: black;

}