*:focus {
    outline: 0;
}

textarea:focus, input:focus {
    outline: 0;
}

.game-select-icon {
    color: #D1A644;
    opacity: 0.5;
    border: 0;
    outline: 0;
    background: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.game-select-icon:hover {
    cursor: pointer;
    opacity: 1;
}