<template name="game">
    <div id="content-root">
        <div id="left-sidebar" class="float-left">
            <div id="sidebar-content-container">
                <div id="logo-container"></div>
                {{> game_sidebar}}
            </div>
        </div>
        <div id="gameboard-master" class="float-left">
            {{#unless loggingIn}}
                {{> parent_game_grid}}
            {{/unless}}
        </div>
        <div class="clear"></div>
    </div>
    <audio id="notif-tada">
        <source src="/audio/tada.ogg" type="audio/ogg" />
        <embed hidden="true" autostart="false" loop="false" src="/audio/tada.ogg" />
    </audio>
    <audio id="notif-wow">
        <source src="/audio/wow.ogg" type="audio/ogg" />
        <embed hidden="true" autostart="false" loop="false" src="/audio/wow.ogg" />
    </audio>
</template>