<template name="parent_game_grid">
    {{#with game_data}}
        <div class="board-container parent-game-board-container">

            <!-- row 0 -->
            <div>
                <div id="00P" class="float-left parent-game-element">
                    <div id="00p-xoelm" class="parent-game-element XO-container {{render_xo_element 0}}"></div>
                    {{> child_game_grid parent_board.[0]}}
                </div>
                <div class="float-left parent-vertical-spacer"></div>

                <div id="01P" class="float-left parent-game-element">
                    <div id="01p-xoelm" class="parent-game-element XO-container {{render_xo_element 1}}"></div>
                    {{> child_game_grid parent_board.[1]}}
                </div>
                <div class="float-left parent-vertical-spacer"></div>

                <div id="02P" class="float-left parent-game-element">
                    <div id="02p-xoelm" class="parent-game-element XO-container {{render_xo_element 2}}"></div>
                    {{> child_game_grid parent_board.[2]}}
                </div>

                <div class="clear"></div>

            </div>


            <div class="parent-horizontal-spacer"></div>

            <!-- row 1 -->
            <div>
                <div id="03P" class="float-left parent-game-element">
                    <div id="03p-xoelm" class="parent-game-element XO-container {{render_xo_element 3}}"></div>
                    {{> child_game_grid parent_board.[3]}}
                </div>
                <div class="float-left parent-vertical-spacer"></div>

                <div id="04P" class="float-left parent-game-element">
                    <div id="04p-xoelm" class="parent-game-element XO-container {{render_xo_element 4}}"></div>
                    {{> child_game_grid parent_board.[4]}}
                </div>
                <div class="float-left parent-vertical-spacer"></div>

                <div id="05P" class="float-left parent-game-element">
                    <div id="05p-xoelm" class="parent-game-element XO-container {{render_xo_element 5}}"></div>
                    {{> child_game_grid parent_board.[5]}}
                </div>

                <div class="clear"></div>

            </div>


            <div class="parent-horizontal-spacer"></div>

            <!-- row 2 -->
            <div>
                <div id="06P" class="float-left parent-game-element">
                    <div id="06p-xoelm" class="parent-game-element XO-container {{render_xo_element 6}}"></div>
                    {{> child_game_grid parent_board.[6]}}
                </div>
                <div class="float-left parent-vertical-spacer"></div>

                <div id="07P" class="float-left parent-game-element">
                    <div id="07p-xoelm" class="parent-game-element XO-container {{render_xo_element 7}}"></div>
                    {{> child_game_grid parent_board.[7]}}
                </div>
                <div class="float-left parent-vertical-spacer"></div>

                <div id="08P" class="float-left parent-game-element">
                    <div id="08p-xoelm" class="parent-game-element XO-container {{render_xo_element 8}}"></div>
                    {{> child_game_grid parent_board.[8]}}
                </div>

                <div class="clear"></div>

            </div>


        </div>
    {{/with}}
</template>