.landing-vertical-spacer {
    width: 3px;
    height: 100%;
    background: rgb(209,166,68);
    margin: 0 2% 0 2%;
}

.landing-text-input-element {
    height: 25px;
    width: 150px;
    padding-left: 15px;
    outline: 0;
    border: 0;   
    font-size: 14px;
    color: #D1A644;
    border-bottom:2px solid;
    border-color: rgb(170,170,170);
}

.landing-login-register-submit:hover {
    cursor: pointer;
    color: rgb(209,166,68);
}

.landing-color-alert {
    color: rgb(204, 40, 40);
}

.landing-color-alert::-webkit-input-placeholder {
    color: rgb(204, 40, 40);
}

.landing-color-alert::-moz-placeholder {
    color: rgb(204, 40, 40);
}

.landing-color-alert:-ms-input-placeholder {
    color: rgb(204, 40, 40);
}

.landing-dashboard-create-game {
    display: inline-block;
    width: 48%;
    line-height: 25px;
    height: 25px;
    text-align: center;
}

.landing-dashboard-create-game:hover {
    cursor: pointer;
    color: rgb(209,166,68);
}

.expanded {
    height: 400px !important;
}

#master-landing-container {
    width: 900px;
    height: 100px;
    margin: auto;

    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
}

#landing-logo-container {
    width: 50%;
}

#landing-logo {
    position: relative;
    top: -5px;
    height: 50px;
    background: url("/images/svg/tic_tacs_and_altoids.svg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#landing-login-register-submit {
    line-height: 25px;
    margin-top: 5px;
    text-align: center;
    background: rgb(230, 230, 230);
    color: rgb(206, 166, 68);
}

#landing-login-register-submit:hover {
    cursor: pointer;
    background-color: rgb(206, 166, 68);
    color: white;
}

#landing-dashboard-container {
    display: inline-block;
    width: 300px;
    height: 400px;
}

#landing-dashboard-header {
    line-height: 25px;
}

#landing-dashboard-logout {
    width: 25px;
    height: 25px;
    background: url("/images/svg/power_icon.svg");
    background-size: 60% 60%;
    background-position: center;
    background-repeat: no-repeat;
}

#landing-dashboard-logout:hover {
    cursor: pointer;
}

#landing-dashboard-user-games {
    height: 350px;
}

#landing-dashboard-create-games {
    height: 25px;
    line-height: 25px;
}

#landing-dashboard-create-game-spacer {
    width: 2px;
    margin-left: 1%;
    margin-right: 1%;
    height: 25px;
    background: rgb(170, 170, 170);
}